/* ======= Buttons ======== */

@import './variables';

.text-white {
    color: $text-white;
}

.text-light {
    color: $text-color-light;
}

.text-center {
    text-align: center;
}

.icon {
    color: $first-color;
}

.alert {
    margin-bottom: 1rem;

    .success {
        color: rgb(128, 199, 128);
        border: 1px solid green;
        background-color: rgba(green, .3);
        border-radius: 2rem;
        padding: 1rem;
    }

    .error {
        color: rgb(177, 113, 113);
        border: 1px solid rgb(153, 51, 51);
        background-color: rgba(red, .3);
        border-radius: 2rem;
        padding: 1rem;
    }
}