// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Raleway&display=swap');
@import 'mediaqueries';
// CSS VARIABLES

$nav-height: 4rem;

/* ===== Colors   ===== */

$hue: 200;
$sat: 90;

$first-color: hsl($hue, $sat, 60%);
$first-color-light: hsl($hue, $sat, 85%);
$first-color-lighten: hsl($hue, $sat, 80%);
$first-color-alt: hsl($hue, $sat, 53%);

$text-white: #fff;
$text-color: rgba(255, 255, 255, .6);
$text-color-light: rgba(255, 255, 255, .8);
$body-color: hsl($hue, $sat, 19);
$container-color: hsl($hue, $sat, 15%);

$scroll-bar-color: hsl($hue, 4%, 85%);
$scroll-thumb-color: hsl($hue, 4%, 75%);

/* ===== Font and Typography  ===== */

$body-font: 'Poppins', sans-serif;
$biggest-font-size: 2rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;

$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

/* ===== Container width  ===== */

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

/* ===== Section  ===== */
$section-padding: 4.5rem 0 1rem;

/* =====  Font Weight  ===== */

$font-semi-bold: 600;
$font-bold: 700;

/* =====  Margins  ===== */

$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;

/* =====  Z index  ===== */

$z-tooltip: 10;
$z-fixed: 100;

/* ===== Transition  ===== */
$transition: all .4s ease-in-out
